* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.header {
  margin: 50px 0px;
}

h3 {
  width: 20rem;
  display: block;
  color: #fb520a;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  border: 2px solid #fb520a;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: 10px solid #fb520a;
  border-bottom:15px solid #fb520a ;
  border-radius: 10px 5px 10px 0px;
}

.left {
  margin-top: 20px;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-img {
  width: 50rem;
  height: 40rem;
  margin: 20px;
  box-shadow: -20px -10px 3px #fb520a;
  border: 2px solid #fb520a;
  border-radius: 10px;
}
.about-head-p {
  font-size: 40px;
}

ul {
  margin: 30px 0;
}

li {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 25px;
  align-items: center;
  margin-left: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.listImage {
  margin: 5px;
  width: 50px;
  height: 50px;
  /* margin-right: 10px; */
}
span {
  margin-left: 5rem;
  color: #fb520a;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact-btn {
  padding: 10px 20px;
  margin-top: 4rem;
  border: 2px solid #fb520a;
  font-size: 25px;
  background-color: inherit;
  color: #fb520a;
  border-radius: 5px;
  cursor: pointer;
}
.contact-btn:hover {
  color: whitesmoke;
  background-color: #fb520a;
  transition: 500ms ease-in-out;
}