body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin: 50px;
  /* width: 100%; */
}

h1 {
  margin: 0;
  font-size: 36px;
  font-weight: normal;
}

main {
  margin: 50px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style-type: square;
  padding: 0;
  margin: 0;
}
ul li {
  margin-top: 5px;
  margin-left: 20px;
}

a {
  color: #333;
  text-decoration: none;
}

.tags:hover {
  color: #000;
  text-decoration: underline;
  font-weight: 600;
}
