@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --gradient: linear-gradient(
    28deg,
    #719bbe,
    #f7bd9c,
    #ecf7b3,
    #c6fabb,
    #ebbdbd
  );
}

body {
  /* background-color: #0b0e14 ; */
  background-size: 500%;
  background-image: var(--gradient);
  animation: bg-animation 15s infinite reverse;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.hero {
  height: 29vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

@media only screen and (max-width: 768px) {
  .hero {
    height: auto;
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
  li {
    margin: 10px 0;
  }
  .hamburger,
  .cross {
    display: block;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .cross {
    display: none;
  }
  ul {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  ul.active {
    display: flex;
  }
  li {
    margin: 10px 0;
  }
}

.logo {
  color: white;
  font-size: 28px;
}

span {
  color: rgb(19, 34, 29);
}

header {
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header #logo {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  color: black;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background: #fff;
  cursor: pointer;
  color: #2b1055;
}

.animated {
  text-decoration: none;
  background: linear-gradient(to right, #000000 50%, #052261 50%, #12e69f);
  background-size: 200%;
  background-clip: tex;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-out;
}

.animated:hover {
  background-position: -100%;
}

.cards {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

.cards h2.header {
  font-size: 40px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.services {
  display: grid;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 45px;
  transition: all 0.3s ease;
}

.content .fab {
  font-size: 70px;
  margin: 16px 0;
}

.content > * {
  flex: 1 1 100%;
}

.content:hover {
  color: white;
  box-shadow: 0 0 70px -10px #000;
}

.content:hover a {
  border-color: white;
  background: white;
}

.content-1:hover {
  border-color: #020202;
  background: #d1d1cf;
  background: linear-gradient(#4584b6, #ffde57);
}

.content-1:hover a {
  color: #1da1f2;
}

.content-3:hover {
  border-color: #000000;
  background: #000000;
  background: linear-gradient(#ffa500, #ffff00);
}

.content-3:hover a {
  color: #7e851e;
}

.content-2:hover {
  border-color: #000000;
  background: #000000;
  background: linear-gradient(#a4c639, #000000);
}

.content-2:hover a {
  color: #32de84;
}

.content-4:hover {
  border-color: #000000;
  background: #000000;
  background: linear-gradient(#e34f26, #ffffff);
}

.content-4:hover a {
  color: #ff0000;
}
.fa-c {
  font-size: 70px;
  margin: 16px 0;
}
.content-5:hover {
  border-color: #000000;
  background: #000000;
  background: linear-gradient(#0000ff, #6a5acd);
}

.content-5:hover a {
  color: #ff0000;
}

.content-6:hover {
  border-color: #000000;
  background: #000000;
  background: linear-gradient(#f7df1e, #ffffff);
}

.content-6:hover a {
  color: #f7df1e;
}

.content-8:hover {
  border-color: #000000;
  background: #000000;
  background: linear-gradient(#61dbfb, #6a5acd);
}

.content-8:hover a {
  color: #61dbfb;
}

.content-7:hover {
  border-color: #000000;
  background: #000000;
  background: linear-gradient(#6a5acd, #61fba9);
}
.content-7:hover a {
    color: #37cf1d;
}

.content-9:hover {
  border-color: #000000;
  background: #000000;
  background: linear-gradient(#f1502f, #3e2c00);
}

.content-9:hover a {
  color: #f1502f;
}

.content h2 {
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.content p {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
}

.content a {
  margin: 22px 0;
  background: black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 15px 0;
  border-radius: 25px;
  transition: 0.2s ease;
}

.content a:hover {
  border-radius: 5px;
}

@media (max-width: 900px) {
  .services {
    display: flex;
    flex-direction: column;
  }
}

footer {
  margin-bottom: 0px;
  margin-top: 100px;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 0px;
}

.footer-container {
  max-width: 100%;
  margin: 0 auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 33.33%;
  padding: 0 15px;
}

.footer-col h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a:hover {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .footer-col {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .footer-col {
    width: 100%;
  }
}

/*resoursces page css*/

.content1 {
  display: flex;
  justify-content: center;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.footer-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.footer-col {
  text-align: center;
  padding: 10px;
}

.footer-col a:hover {
  color: #1a73e8;
  transform: scale(1.1);
}

.fa-instagram,
.fa-github,
.fa-linkedin {
  font-size: 32px;
}

.copyright {
  margin-top: 40px;
  color: blue;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.connect {
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 1.5px;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  background: linear-gradient(to right, #080808 50%, #3c08fa 50%, #1930b3);
  background-size: 200%;
  background-clip: tex;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-out;
  margin-bottom: 20px;
}

.connect:hover {
  background-position: -100%;
}
